footer{
  background: $dark-grey;
  position: relative;
  padding-bottom: 0;
  .container-fluid{
    margin: 30px 0 0 0;
    padding: 20px 0;
    background: #191919;
    .social-network-list{
      margin: 0;
      text-align: right;
      line-height: 0;
      @include respond-to(tablets-portrait) {
        text-align: center;
        margin-top: 15px;
      }
      li{
        opacity: 0.5;
        transition: $transition;
        &:hover{
          opacity: 1;
        }
        a{
          text-decoration: none;
          width: 60px;
          height: 30px;
          display: block;
        }
      }
      .facebook{
        background: url("../icon/facebook-min.png") no-repeat center;
      }
      .twitter{
        background: url("../icon/twitter-min.png") no-repeat center;
      }
      .instagram{
        background: url("../icon/instagram-min.png") no-repeat center;
      }
      .linkedin{
        background: url("../icon/linkedin-min.png") no-repeat center;
      }
      .basketball{
        background: url("../icon/basketball-min.png") no-repeat center;
      }
    }
    .copyright{
      opacity: 0.3;
      font-size: 12px;
      position: relative;
      top: 5px;
      font-family: $main-font;
      @include respond-to(tablets-portrait) {
        text-align: center;
        width: 100%;
        display: block;
      }
    }
  }
  &:before{
    @include white-line();
    top:0;
  }
  .flex{
    display: flex;
    justify-content: center;
    @include respond-to(tablets-portrait){
      display: block;
    }
  }
  h2,p,span,a,input,textarea{
    color: $color-white !important;
  }
  .section-description{
    color: $color-white !important;
  }
  .has-label .control-label {
    transform: translateY(-25px) scale(0.75) !important;
    font-weight: 700 !important;
  }
  .has-label {
    opacity: 0.8 !important;
  }
  .form-group{
    position: relative;
    opacity: 0.3;
    margin-bottom: 30px;
    .form-control{
      padding: 6px 15px 6px 0;
      border-radius: 0;
      border-color: transparent transparent $color-white transparent;
      box-shadow: none;
      background: transparent;
      color: $color-white;
      position: absolute;
      top:3px;
      &:focus{
        box-shadow: none;
        outline: none;
        border-color: transparent transparent $color-white transparent;
      }
    }
    .control-label{
      @include interactive-label();
    }
  }
  .error{
    color: $color-white;
    font-family: $main-font;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: -12px;
  }
  .field-textarea{
    height: 170px;
    margin: 0;
    display: block;
    margin-top: 36px;
    .error{
      bottom: -42px;
    }
    .control-label{
      bottom: 8px;
    }
    textarea{
      resize: none;
      border-color: $color-white transparent $color-white transparent !important;
      top: 0!important;
      height: 100% !important;
    }
  }
  address{
    .street-adrees,.contact-number,.contact-emeil{
      padding-left: 90px;
      margin-bottom: 30px;
      position: relative;
      display: block;
      width: 100%;
      &:hover{
        &:before{
          opacity: 1;
          transition: $transition;
        }
      }
      &:before{
        content: '';
        position: absolute;
        left: 0;
        opacity: 0.7;
        width: 60px;
        height: 100%;
        display: block;
        background-size: 50px;
        transition: $transition;
      }
      span,a{
        font-family: $main-font;
        font-size: 14px;
        color: $color-white;
        width: 100%;
        display: block;
        line-height: 25px;
        &:hover{
          color: $color-white;
        }
      }
    }
    .street-adrees{
      &:before{
        background: url("../icon/house-contact-min.png") no-repeat center;
      }
    }
    .contact-emeil{
      &:before{
        background: url("../icon/email-contact-min.png") no-repeat center;
      }
    }
    .contact-number{
      &:before{
        background: url("../icon/phone-contact-min.png") no-repeat center;
      }
    }
  }
  #ss-submit{
    position: absolute;
    right: 15px;
    bottom: 50px;
    opacity: 0.3;
    display: block;
    background: transparent;
    border-color: transparent #ffffff transparent transparent;
    border-radius: 0;
    height: 50px;
    width: 60px;
    box-shadow: none;
    transition: $transition;
    @include respond-to(tablets-portrait){
      bottom: 0;
    }
    &:hover,&:focus{
      outline: none;
      box-shadow: none;
    }
    &:hover {
      svg {
        transform: rotate(10deg);
        transition: transform .15s;
      }
    }
    svg {
      position: absolute;
      top: 8px;
      right: 8px;
      height: 30px;
      width: auto;
      transition: transform .15s;
    }
  }
}